.jumbotron {
    padding: 2rem !important;
    background-color: #eeebff !important;
}

.chat-emoji {
    color: #664EEF;
}

.chrm-member-info {
    color: #664EEF;
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
    width: 550px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-room a:hover {
    text-decoration: none;
}

.chat-alert-circle {
    color: #fa2626;
    margin-left: 150px;
}