@charset "UTF-8";

section{
    padding-left: 0;
    padding-top: 0;
    overflow: hidden;
    display: inline-block;
    
}

.search-div {
    background-color: rgb(226, 213, 255);
    width: 1070px;
}

.email-table{
    border-bottom: 1px solid rgb(222, 226, 230);
    overflow:hidden; 
}

.email-table tr td:nth-child(4){
    overflow:hidden; 
    text-overflow:ellipsis; 
    white-space:nowrap;
    cursor: pointer;
}

.pagination{
    margin-top: 35px;
}

.fa-star{
	color: rgb(185, 185, 185);
    font-size: 18px;
}

.on{
	color: gold;
}