@charset "UTF-8";

section{
	height: 1200px;
}

aside{
	height: 1200px;
}

.time-setting{
    width: 85%;
    height: 800px;
    margin: 60px auto 0 auto;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    padding: 30px;
}

.attendance-setting-submit-btn{
    margin: 100px auto 0 auto;
    text-align: center;
}