@charset "UTF-8";

table{
    margin-left:auto; 
    margin-right:auto;
    border:3px solid skyblue;
}
        
td{
    border:1px solid skyblue
}
        
#title{
    background-color:skyblue
}