@charset "UTF-8";

.table-num {
    width: 5%;
}
.table-dept {
    width: 8%;
}
.table-title {
    width: 40%;
}
.table-name {
    width: 12%;
}
.table-file {
    width: 8%;
}
.table-count {
    width: 7%;
}
.table-date {
	width: 10%
}
.table td, .table th {
	text-align: center;
}
#titletd{
	text-align: left;
}
#dropdowndept{
	top: 0% !important;
}