<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alarm">

	<select id="selectList" resultType="alarm">
		select
			*
		from
			alarm
		where 
			to_id=#{id}	and
			is_checked='N'
	</select>
	
	<insert id="insertAlarm">
		insert into 
			alarm
		values(
			#{fromId},
			#{toId},			
			sysdate,
			#{title},			
			#{category},	
			#{isChecked},
			#{alarmLink}
		)	
	</insert>
	
	<update id="updateAlarm">
		update
			alarm
		set
			is_checked = #{YN}
		where
	 		to_id = #{toId} and
	 		alarm_Link=#{alarmLink}		
	</update>
	
</mapper>