<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="calendar">

	<insert id="insertCalendar">
		insert into
			calendar(calendarId,calendarNo,subject,startDate,endDate,memo,memo)
		values (
			#{calendarId},
			#{calendarNo},
			#{subject},
			#{startDate},
			#{endDate},
			#{memo}
		)
	</insert>
	

</mapper>