<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="calendar">
	<insert id="insertCal" parameterType="hashmap">
		insert into
			calendar
		values(
			#{id},
			#{title},
			to_date(#{startDate}, 'yyyy-mm-dd'),
			to_date(#{endDate}, 'yyyy-mm-dd')
	</insert>

	
	<select id="selectListCalendar" resultType="calendar">
		select
			*
		from
			calendar
		where 
			id = #{id}
	</select>



</mapper>