<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="emailAuth">

	<insert id="insertEmailAuth">
		insert into
			email_authentication
		values(
			#{email}, 
			#{authKey}, 
			default
			)
	</insert>
	
	<update id="updateEmailAuthStatus">
		update
			email_authentication
		set
			auth_status = 'Y'
		where
			email = #{email}
			and auth_key = #{authKey}
			and auth_status = 'N'
	</update>
	
	<delete id="deleteEmailAuth">
		delete
			email_authentication
		where
			email = #{email}
	</delete>
</mapper>