<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="email">

	<select id="selectRecipientList" resultType="string">
		select
    		*
		from
    		floworks_user
		where
    		id like '%' || #{searchKeyword} || '%'
	</select> 
	
	<insert id="insertEmailFile">
		insert into
			email_file
		values(
			seq_email_file_no.nextval,			
			#{originalName1},
			#{reNamed1},			
			#{originalName2},
			#{reNamed2},			
			#{originalName3},
			#{reNamed3}
		)
		
		<selectKey resultType="_int" keyProperty="no" order="AFTER">
			select
				seq_email_file_no.currval
			from
				dual				
		</selectKey>
		
	</insert>
	
	<insert id="insertEmail">
	
		insert into
			email
		values(
			seq_email_no.nextval,			
			#{id},
			#{recipient},			
			#{externalRecipient},
			#{emailCC},			
			#{emailBCC},
			#{subject},	
			
			<choose>
				<when test="fileNo != 0">
					#{fileNo},	
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>
			
			default,
			#{emailContent}
		)
		
		<selectKey resultType="_int" keyProperty="emailNo" order="AFTER">
			select
				seq_email_no.currval
			from
				dual				
		</selectKey>
		
	</insert>
	
	<insert id="insertSent">
		insert into
			email_sent
		values(
			#{emailNo},		
			default, 
			default
		)
	</insert>
	
	<insert id="insertIndox">
		insert into
			email_inbox
		values(
			#{recipient},
			#{emailNo},		
			default, 
			default,
			default
		)
	</insert>
	
	<select id="selectSentList" resultType="email">
		select 
			* 
		from 
			email e join email_sent s
    		on e.email_no = s.email_no
		where 
			id = #{id}
			and s.del_yn = 'N'
		order by
            time desc
	</select>
	
	<select id="selectOneEmail" resultType="email">
		select
			*
		from
			email
		where
			email_no = #{emailNo}
	</select>
	
	<select id="selectOneFile" resultMap="fileMap">
		select
    		*
		from
    		email_file
		where
			file_no = #{fileNo}
	</select>
	
	<resultMap type="map" id="fileMap">
	
		<id column="file_no" property="fileNo" />
		
		<result column="file_renamed1" property="fileRenamed1" />
		<result column="file_originalname1" property="fileOriginalname1" />
		<result column="file_renamed2" property="fileRenamed2" />
		<result column="file_originalname2" property="fileOriginalname2" />
		<result column="file_renamed3" property="fileRenamed3" />
		<result column="file_originalname3" property="fileOriginalname3" />
	
	</resultMap>
	


</mapper>