<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="findPasswordAuth">

	<insert id="insertFindPasswordAuth">
		insert into
			find_password_authentication
		values(
			#{id},
			#{authKey}
			)
	</insert>
	
	<select id="selectUserEmail" resultType="int">
		select
			count(*)
		from
			floworks_user
		where
			id = #{id}
			and email = #{email}
	</select>
	
	<delete id="deleteFindPasswordAuth">
		delete
			find_password_authentication
		where
			id = #{id}
	</delete>
	
	<select id="selectCheck" resultType="int">
		select
			count(*)
		from
			find_password_authentication
		where
			id = #{id}
			and auth_Key = #{authKey}
	</select>
	
	<update id="updatePassword">
		update
			floworks_user
		set
			password = #{password}
		where
			id = #{id}
	</update>

</mapper>