<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users"> 
	<select id="selectUserList" resultMap="UserMap">
		select
		    *
		from
		    (select f.workspace_id, m.id, f.name, d.department_name, m.position, m.hire_date, f.quit_yn
		    from member m
		        left join department d
		            on m.department_code = d.department_code
		        left join floworks_user f
		            on m.id = f.id) u
		    where
		        workspace_id = 'kh123'
		    order
		        by hire_date;
	</select>
	
	<resultMap type="hashmap" id="UserMap">
		<id column="post_no" property="postNo"/>
		<result column="board_no" property="boardNo"/>
		<result column="id" property="id"/>
		<result column="post_title" property="postTitle"/>
		<result column="post_content" property="postContent"/>
		<result column="post_date" property="postDate"/>
		<result column="post_read_count" property="postReadCount"/>
		<result column="post_del" property="postDel" jdbcType="CHAR" javaType="_boolean" typeHandler="ynBooleanTypeHandler"/>
		<result column="department_name" property="departmentName"/>
		<result column="name" property="name"/>
		<result column="file_count" property="fileCount"/>
		<result column="comment_count" property="commentCount"/>
		<result column="workspace_id" property="workspaceId"/>	
	</resultMap>
</mapper>