<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

	<select id="user" resultType="user">
		select
			*
		from
			floworks_user
	</select>

	<select id="selectOneUser" resultMap="userMap" >
		select
			*
		from
			floworks_user
		where
			id = #{id}
	</select>
	<resultMap type="user" id="userMap">
	
	</resultMap>
	
	<update id="updateMember" parameterType="user">
		update floworks_user
		set 
			name = #{name}, 
			email = #{email}, 
			phone = #{phone}, 
			address = #{address}
		where 
			id = #{id}
	</update>
</mapper>