@charset "UTF-8";

.pagination{
	margin-top: 30px;
}

.btn-post-file{
	width:100%;
	margin-left: 850px;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 10px;
}

.email-file-subject{
	font-size: 20px;
	font-weight: 800;
}

a{
	color: black;
}